/*Style pour la page combos-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
label{
	font-size:1.7em;
	margin-left:2%;
	text-decoration:underline;
}
.sousMenu {
	height:50px;
	border-bottom:2px solid;
	margin-left:-70px;
	background: rgba(108, 114, 115, 0.6);/* Opacité avec du noir*/
	border-top:2px solid;
	border-bottom:1px solid;
	text-align:center;
}
	.sousMenu li{
		display:inline;
		list-style-type:none;
		line-height:50px;
		font-size:25px;
		padding-left:40px;
	}
.hoverMenu:hover{
	color:white;
}
#lien1{
	border-bottom:2px solid;
}
#interieur{
	position:relative;
}
.descriptif{
	display:none;
	padding-bottom:30%;
	padding-left:10%;
}
	.descriptif section{
		float:left;
		padding-top:3%;
		width:25%;	
	}
		.descriptif section article p{
			font-size:1em;
			line-height:40px;
			margin-bottom:2%;
			margin-left:8%;
			text-align:justify;
		}
#choix1{
	display:block;
}
.vid, .vid2, .vid3, .vid4, .vid5, .vid6, .vid7, .vid8, .vid9{
	position:absolute;
	width:45%;
	right:0;
	top:8%;
	border-top:2px solid;
	border-bottom:2px solid;
	border-left:2px solid;
}
#vid2, #vid3, #vid4, #vid5, #vid6, #vid7, #vid8{
	display:none;
}

/*-------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------*/